.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: round;
}

.links-section a {
    text-decoration: none;
    padding: 10px;
}

.links-section a:hover svg path{
    fill: var(--soft-red) !important;
}

@media (max-width: 900px) {
      .footer {
        background-repeat: repeat;
      }
}