.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width:70%; */
    max-height: 100%;
}

.main-card-section {
    width: 50vw;
    max-width: 1000px;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.title-section {
    margin-bottom: 150px;
    color: var(--white);
    font-weight: 800;
    letter-spacing: 7px;
}


.timer-section-list {
    display: flex;
    justify-content: space-between;
}

.unit-card {

    background-color: var(--dark-desaturated-blue);
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    height: 100px;
}

.card-unit-data {
    z-index: 100;
    color: var(--soft-red);
    font-size: 100px;
}

.card-unit-label {
    color: var(--grayish-blue);
    margin-top: 15px;

}

@media (max-width: 1280px) {
    body {
        /* overflow: hidden; */
        /* height: 50vh; */
        /* width: 50vw; */
    }
    .main-section {
        margin-left: -50px;
    }
    .main-card-section {
        width: 100vw;
        /* max-width: 50vw; */
    }
    .card-unit-data {
        font-size: 2em;
    }
    .unit-card {
        width: 8em;
        height: 4em;
    }
    .timer-section-list {
      
        margin: auto;
        justify-content: space-evenly;
    }

}

@media (max-width: 900px) {
    .timer-section-list {
        height: 500px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

